header,
main,
footer {
  margin: 50px 150px;
}

header {
  margin-top: 0;
}

#content {
  margin: 100px 0px;
}

sup {
  margin-bottom: 22px;
  margin-top: 2px;
  margin-left: -18px;
  margin-top: 2px;
  padding: 5px 3px;
}

#popcorn-image {
  margin-left: -10px;
}

#main-dot {
  width: 15px;
  height: 5px;
  background-color: red;
  border-radius: 10px;
  margin-right: 3px;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: lightgray;
  border-radius: 5px;
  margin-inline: 2px;
}

#app-menu {
  margin-top: -350px;
  margin-left: -100px;
}